.blau
  .pull-right
    div
      img.visible-xs(src='public/images/claim.mehr-halten.weiss.svg',width="200",height="22")
      img.hidden-xs(src='public/images/claim.mehr-halten.weiss.svg',width="540",height="61")
    ul.list-inline
      li Keramik
      li Implanttechnik
      li CAD/CAM &amp; Scanner
      li Galvanotechnik
      li Kunststoffprothetik
      li Reparatur
