
.blau
  img.visible-xs(src='public/images/claim.mehr-halten.weiss.svg',width="315",height="51")
  img.hidden-xs(src='public/images/claim.mehr-halten.weiss.svg',width="620",height="68")
  ul.list-inline
    li Keramik
    li Implanttechnik
    li CAD/CAM &amp; Scanner
    li Galvanotechnik
    li Kunststoffprothetik
    li Reparatur
