div.container.content.kontakt
  div.row
    div.col-lg-9.col-lg-offset-3
      div.panel.panel-kompedent
        div.panel-body
          img.img-responsive(src=bild)
        div.panel-footer.panel-footer-blue
          div.row
            div.col-lg-6
              h1 Kontakt

              div
                strong Wir können Lachen machen.

              h2
                | kompe<strong>Dent</strong>
                br
                | Zahntechnik GmbH

              p
                | Amselweg 2
                br
                | 74196 Neuenstadt

              p
                | Telefon 0 71 39 _ 45 66 66
                br
                | Fax 0 71 39 _ 45 66 67

            div.col-lg-6
              .visible-md.visible-lg
                div(style="height:240px;")
              h1.email
                a(href="mailto:info@kompedent-zt.de")
                  img(src=emailicon,width="32",height="32")
                  span info@kompedent-zt.de

  div.row
    div.col-lg-9.col-lg-offset-3
      div
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2605.139200209468!2d9.32349!3d49.23585!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4798235705bac205%3A0x9592d33e685d6d90!2sKompeDent+Zahntechnik+GmbH!5e0!3m2!1sde!2sde!4v1427911746603",height="450",frameborder="0",style="border:0;width:100%;")
